<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>savemyloc</title>
  </head>
  <body>
    <h1>Hello, Welcome to savemyloc API</h1>
    <p>Make a post call with username, gps data to save the data. </p>
    <p><%=title%></p>
  </body>
</html>
